<% scheduled_style = feature.scheduled ? "background-color:rgb(246, 250, 252)" : "" %>

<div style="padding:1.5em 1em;border-top:1px solid #ddd;<%= scheduled_style %>">
	<div class="row">

		<div class="col-md-8">
			<span style="font-size:1.25em">
				<div style="width:1.5em;float:left">
				<% if feature.completed %>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
				<% else %>
				<i class="fa fa-square-o" aria-hidden="true"></i>
				<% end %>
				</div>
				<%= feature.name %>
			</span>
			<div id="more-info-<%= feature.id %>" class="collapse">
				<span style="font-size:1.25em"><div style="width:1.5em;float:left">&nbsp;</div></span>
				<div style="float:left">
					<hr>
					<h4 style="font-weight:200">Description</h4>
					<p><%= markdown feature.description %></p>
				</div>
			</div>
		</div>

		<div class="col-md-1 col-xs-3 center">
			<%= button_tag class: 'btn', style: "background-color:transparent;padding:0",
			    data: { toggle: "collapse", target: "#more-info-#{feature.id}" } do %>
				<% icon_class = feature.scheduled ? "fa-calendar-minus-o" : "fa-calendar-check-o" %>
				<i class="tooltipper fa fa-lg fa-info" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" }, title="More Info"></i>
			<% end %>
		</div>

		<div class="col-md-1 col-xs-3 center">
			<%= simple_form_for feature, remote: true do |f| %>
				<%= f.hidden_field :scheduled, value: !feature.scheduled %>
				<%= button_tag type: 'submit', class: 'btn', style: "background-color:transparent;padding:0" do %>
					<% icon_class_s = feature.scheduled ? "fa-calendar-minus-o" : "fa-calendar-check-o" %>
					<i class="tooltipper fa fa-lg <%= icon_class_s %>" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" }, title="<%= feature.scheduled ? 'Remove from' : 'Add to' %> schedule"></i>
				<% end %>
			<% end %>
		</div>

		<div class="col-md-1 col-xs-3 center">
			<%= simple_form_for feature, remote: true do |f| %>
				<%= f.hidden_field :completed, value: !feature.completed %>
				<%= button_tag type: 'submit', class: 'btn', style: "background-color:transparent;padding:0" do %>
					<% icon_class = feature.completed ? "fa-minus" : "fa-check" %>
					<i class="tooltipper fa fa-lg <%= icon_class %>" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" }, title="Mark as <%= feature.completed ? "incomplete" : "complete" %>"></i>
				<% end %>
			<% end %>
		</div>

		<div class="col-md-1 col-xs-3 center">
			<!-- <i class="tooltipper fa fa-lg fa-trash-o" aria-hidden="true"></i data-toggle="tooltip" data-placement="bottom" }, title="All projects"> -->
			<%= link_to edit_feature_path(feature), class: 'btn', remote: true,
			    style: "background-color:transparent;padding:0;color:black" do %>
				<i class="tooltipper fa fa-lg fa-wrench" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" }, title="Edit Feature"></i>
			<% end %>
		</div>

	</div>
</div>
