<div class="container-fluid">
	<div class="col-md-offset-2 col-md-8">

		<div class="row">
			<div class="col-md-10">
				<h2>
					<small><%= @project.name %></small><br>
					Products
				</h2>
			</div>

			<div class="col-md-2 center" style="padding-top:2em">
					<%= link_to new_project_product_path(@project), class: "tooltipper", data:
					    { toggle: "tooltip", placement: "bottom" }, title: "New Product" do %>
					  <h2><i class="fa fa-plus-circle" aria-hidden="true"></i></h2>
					<% end %>

				<!-- <div style="padding: 1em 1em 0">
					<%= link_to new_project_product_path(@project), class: "pull-right tooltipper", data:
					    { toggle: "tooltip", placement: "bottom" }, title: "New Product" do %>
	        	<h3>
		        		<span class="fa-stack">
		        		  <i class="fa fa-circle fa-stack-2x"></i>
		        		  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
		        		</span>
		        </h3>
					<% end %>
				</div>-->
			</div>
		</div>

		<hr>

    <% @products.each do |product| %>
      <div class="row">
      	<div class="col-xs-10">
        <%= link_to active_product_path(product), method: :post do %>
        	<h3 style='margin:0'><%= product.name %></h3>
        	<h4 style='margin:0'><small><%= pluralize(product.active_features.count, 'Incomplete Feature') %></small></h4>
        <% end %>
        </div>
        <div class="col-xs-2 center">
	        <%= link_to edit_product_path(product), class: "tooltipper", data:
					    { toggle: "tooltip", placement: "bottom" }, title: "Edit Product" do %>
	        	<h3 style='margin:0'><small>
	        		<span class="fa-stack">
	        		  <i class="fa fa-circle fa-stack-2x"></i>
	        		  <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
	        		</span>
	        	</small></h3>
	        <% end %>
	      </div>
      </div>
      <hr>
    <% end %>




	</div>
</div>
