<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">

		<% @completed_features.each do |hash| %>
			<div style="padding-bottom:3em">
				<h3>
					<small>Product:</small><br>
					<%= hash[:product].name %>
				</h3>

				<% hash[:features].each do |feature| %>
					<hr>
					<div class="row">
						<div class="col-md-3 col-xs-4">
							<%= feature.completed_date.strftime("%a, %b/%m/%Y") %>
						</div>
						<div class="col-md-9 col-xs-8">
							<strong><%= feature.name %></strong><br>
							<small>
								Project:
								<%= feature.project.name %>
							</small>
						</div>
					</div>
				<% end %>
				<hr>
			</div>
		<% end if false %>

		<h3>
			<small>Product:</small><br>
			<%= current_user.active_product.name %>
		</h3>

		<% @completed_features.each do |feature| %>
			<hr>
			<div class="row">
				<div class="col-md-3 col-xs-4">
					<%# feature.completed_date.strftime("%A, %b/%m/%Y") %>
					<%= feature.completed_date.strftime("%A") %> <br>
					<%= feature.completed_date.strftime("%b/%m/%Y") %>
				</div>
				<div class="col-md-9 col-xs-8">
					<strong><%= feature.name %></strong><br>
					<small>
						Project:
						<%= link_to feature.project.name, active_project_path(feature.project) %>
					</small>
				</div>
			</div>
		<% end %>

	</div>
</div>
