<div class="container-fluid" style="padding:2em">
	<div class="row">
		<%= link_to "#", class: 'pull-right' do %>
			<span class="glyphicon glyphicon-remove"></span>
			Cancel
		<% end %>
		<% url_path = feature.new_record? ? project_features_path(@project) : feature_path(feature) %>
		<%= simple_form_for(feature, url: url_path) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		  	<%= f.input :name %>
		  	<%= f.input :estimated_days %>
		  	<%= f.input :description, input_html: { rows: 5 } %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit %>
		  </div>
		<% end %>
		<%= link_to feature_path(feature), method: :delete, class: 'pull-right',
		    data: { confirm: 'Are you sure?' } do %>
			Delete
		<% end unless feature.new_record? %>
	</div>
</div>
