<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">

    <h3>
      <small>Project:</small><br>
      <%= current_user.active_project.name %>
    </h3>

    <% @features.each do |feature| %>
      <hr>
      <div class="row">
        <div class="col-md-3 col-xs-4">
          <%# feature.completed_date.strftime("%A, %b/%m/%Y") %>
          <%= feature.created_at.strftime("%A") %> <br>
          <%= feature.created_at.strftime("%b/%m/%Y") %>
        </div>
        <div class="col-md-9 col-xs-8">
          <strong><%= feature.name %></strong><br>
          <small>
            Product:
            <%= link_to feature.product.name, active_product_path(feature.product) %>
          </small>
        </div>
      </div>
    <% end %>

  </div>
</div>
