<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">

    <h3>
      <small>Product:</small><br>
      <%= current_user.active_product.name %>
    </h3>

    <% @features.each do |feature| %>
      <hr>
      <div class="row">
        <div class="col-md-3 col-xs-4">
          <%# feature.completed_date.strftime("%A, %b/%m/%Y") %>
          <%= feature.created_at.strftime("%A") %> <br>
          <%= feature.created_at.strftime("%b/%m/%Y") %>
        </div>
        <div class="col-md-9 col-xs-8">
          <% if feature.completed %>
            <span class="glyphicon glyphicon-ok" style="margin-left:0em"></span>
          <% end %>
          <strong><%= feature.name %></strong><br>
          <small>
            Project:
            <%= link_to feature.project.name, active_project_path(feature.project) %>
          </small>
        </div>
      </div>
    <% end %>

  </div>
</div>
