<!DOCTYPE html>
<html>
<head>
  <title>ProductManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/navigation_bar' %>
	<%= render 'shared/secondary_navigation_bar' if @show_secondary_navigation_bar %>
	<div class="below-navigation-bar">
		<div class="<%= 'below-navigation-bar' if @show_secondary_navigation_bar %>">
			<div class="notice row center">
				<%= notice %>
			</div>
			<div class="alert row center">
				<%= alert %>
			</div>
			<%= yield %>
		</div>
	</div>

</body>
</html>
